<div id="logincontainer">
	<h1>Welcome. Please Login.</h1>

<%= form_for @user, {url:"/authentications", method:"post"} do |user| %>

<p>
	<%= user.label :email, "Email"%><br />
	<%= user.text_field :email, placeholder: "Email Address" %> 
</p>
<br />

<p>
	<%= user.label :password, "Password"%><br />
	<%= user.text_field :password, placeholder: "Password" %><br />
</p>
<br />
<br />
<p>
	<%= user.submit "Log In" %>
</p>
<br />

<%end%>
</div>